{{#if cta}}
    <div class="clamp-[px,16px,54px,1024px,1680px] clamp-[mb,30px,140px]">
        <div class="clamp-[rounded,16px,24px] overflow-hidden lg:bg-fixed bg-cover bg-center bg-no-repeat clamp-[py,75px,166px] relative" style="background-image: url('assets/image/index/image-11.jpg')">
            <div class="absolute-full bg-linear-to-r from-dark to-dark/0"></div>
            <div class="container relative z-2">
                <div class="max-w-731">
                    <div class="flex flex-col gap-3">
                        <h2 class="text-h2 font-medium text-white">Aklınızdaki Soru İşaretlerini Gidermeye Hazırız</h2>
                        <p class="text-body text-white/80">Çocuğunuzun gelişimiyle ilgili endişeleriniz varsa
                            beklemeyin. Bir telefonla uzmanlarımızdan bilgi alabilir, yol haritanızı birlikte
                            çizebiliriz.</p>
                        <div class="flex flex-wrap clamp-[gap,8px,20px] clamp-[mt,16px,30px]">
                            {{> partials/components/button.hbs
                                color="primary"
                                text="İletişime Geç"
                                url="contact.html"
                                icon="icon-phone"
                            }}
                            {{> partials/components/button.hbs
                                color="whatsapp"
                                text="Whatsapp Hattı"
                                url="https://wa.me/905555555555"
                                icon="icon-whatsapp"
                                attribute="target=_blank"
                            }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}
<footer class="bg-white">
    <div class="lg:bg-fixed bg-center bg-cover bg-no-repeat relative clamp-[py,45px,60px] border-y border-black/10" style="background-image: url('assets/image/abstract.jpg')">
        <div class="absolute-full bg-text mix-blend-soft-light"></div>
        <div class="container relative z-2">
            <div class="flex sm:justify-center clamp-[gap,16px,24px] max-xl:flex-wrap max-sm:flex-col">
                {{#each contact as |item|}}
                    <a href="{{item.url}}" {{#if item.target}}target="{{item.target}}"{{/if}} class="group/c inline-flex items-center clamp-[gap,8px,16px]">
                        <span class="clamp-[size,32px,62px] flex-center">
                            <i class="{{item.icon}} clamp-[text,20px,32px] clamp-[h,18px,32px] text-secondary lg:transition-colors lg:duration-300 lg:group-hover/c:text-primary"></i>
                        </span>
                        <span>
                            <span class="clamp-[text,18px,30px] lg:transition-all lg:duration-450 lg:underline-text lg:group-hover/c:bg-size-full group-not-last/c:whitespace-nowrap">{{item.value}}</span>
                        </span>
                    </a>
                {{/each}}
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div x-data="{ activeIndex: -1 }" class="grid grid-cols-12 gap-6 max-lg:grid-cols-1 max-lg:py-7.5">
                <div class="lg:col-span-3 lg:border-r border-black/10 lg:clamp-[py,24px,50px] clamp-[pr,20px,32px]">
                    <img src="assets/image/logo.svg" alt="" loading="eager" width="227" height="75" class="clamp-[w,180px,227px] h-auto clamp-[mb,16px,30px]">
                    <p class="text-[16px] leading-relaxed text-dark/80 clamp-[mb,24px,50px]">Dil,Konuşma Bozuklukları ve Ergoterapi Alanında Uluslararası Standartlarda Hizmet Veriyoruz.</p>
                    <ul class="flex flex-wrap clamp-[gap,8px,14px]">
                        {{#each socialMedia as |item|}}
                            <li>
                                <a href="{{item.url}}" target="_blank" title="{{item.title}}" class="clamp-[size,40px,44px] bg-dark/10 border border-dark/10 rounded-full flex-center lg:transition-colors lg:duration-300 lg:hover:bg-primary lg:hover:border-primary lg:hover:*:text-white">
                                    <i class="{{item.icon}} text-[15px] h-15 text-dark lg:transition-colors lg:duration-300"></i>
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="col-span-1 max-xxl:hidden"></div>
                <div class="lg:col-span-2 lg:clamp-[py,24px,50px]">
                    <div class="max-lg:flex max-lg:items-center max-lg:justify-between max-lg:gap-2"
                        @click="if (!$store.data.isDesktop) { activeIndex = activeIndex === 0 ? -1 : 0 }">
                        <p class="clamp-[text,18px,24px] text-dark">Menü</p>
                        <i class="icon-angle-down text-[12px] h-3 text-dark transition-transform duration-300 lg:hidden!" :class="{ 'scale-y-[-1]': activeIndex === 0 }"></i>
                    </div>
                    <div x-show="$store.data.isDesktop || (!$store.data.isDesktop && activeIndex === 0)" x-collapse.duration.300ms>
                        <ul class="clamp-[mt,8px,12px]">
                            {{#each footer.menu as |item|}}
                                <li>
                                    <a href="{{item.url}}" class="inline-block clamp-[py,4px,8px] lg:hover:*:bg-size-full lg:hover:*:text-black">
                                        <span class="text-[16px] leading-relaxed text-dark/80 lg:transition-all lg:duration-300 lg:underline-text">{{item.title}}</span>
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="xxl:col-span-6 lg:clamp-[py,24px,50px] max-xxl:lg:col-span-7">
                    <p class="clamp-[text,18px,24px] text-dark clamp-[mb,12px,20px] max-lg:mb-4">Çalışma Alanlarımız</p>
                    <div class="grid grid-cols-3 gap-6 max-lg:grid-cols-1 max-lg:gap-3">
                        {{#each footer.workingAreas as |item|}}
                            <div>
                                <div class="max-lg:flex max-lg:items-center max-lg:justify-between max-lg:gap-2"
                                    @click="if (!$store.data.isDesktop) { activeIndex = activeIndex === {{add @index 1}} ? -1 : {{add @index 1}} }">
                                    <p class="clamp-[text,16px,18px] leading-relaxed font-medium text-black/80 lg:mb-2">{{item.title}}</p>
                                    <i class="icon-angle-down text-[12px] h-3 text-dark transition-transform duration-300 lg:hidden!" :class="{ 'scale-y-[-1]': activeIndex === {{add @index 1}} }"></i>
                                    <span class="block w-51 h-0.5 bg-primary max-lg:hidden"></span>
                                </div>
                                <div x-show="$store.data.isDesktop || (!$store.data.isDesktop && activeIndex === {{add @index 1}})" x-collapse.duration.300ms>
                                    <ul class="clamp-[mt,8px,12px]">
                                        {{#each item.subItems as |subItem|}}
                                            <li>
                                                <a href="{{subItem.url}}" class="inline-block clamp-[py,4px,8px] lg:hover:*:bg-size-full lg:hover:*:text-black">
                                                    <span class="text-[16px] leading-relaxed text-dark/80 lg:transition-all lg:duration-450 lg:underline-text">{{subItem.title}}</span>
                                                </a>
                                            </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="border-t border-black/10">
            <div class="container clamp-[py,16px,30px]">
                <p class="text-[16px] leading-relaxed text-dark/80">© 2026. Tüm Hakları Saklıdır. Özel Artuklu Dil, Konuşma ve Ergoterapi Merkezi.</p>
            </div>
        </div>
    </div>
</footer>

<div class="fixed z-30 right-0 bottom-0 clamp-[pr,16px,30px] clamp-[pb,16px,30px] flex flex-col clamp-[gap,16px,24px]">
    <a href="{{contact.0.url}}" title="{{contact.0.value}}" class="bg-primary clamp-[size,40px,54px] flex-center rounded-full shadow-[0_0_3px_4px_rgba(255,102,0,0.35)] lg:transiton-all lg:duration-300 lg:hover:bg-dark lg:hover:shadow-[0_0_3px_4px_rgba(30,30,30,0.35)]">
        <i class="icon-phone clamp-[text,18px,24px] clamp-[h,18px,24px] text-white"></i>
    </a>
    <a href="https://wa.me/{{contact.0.value}}" title="Whatsapp ile iletişim kur" target="_blank" class="bg-[#25D366] clamp-[size,40px,54px] flex-center rounded-full shadow-[0_0_3px_4px_rgba(37,211,102,0.35)] lg:transiton-all lg:duration-300 lg:hover:bg-[#1DA851] lg:hover:shadow-[0_0_3px_4px_rgba(30,30,30,0.35)] lg:hover:*:text-white">
        <i class="icon-whatsapp clamp-[text,18px,24px] clamp-[h,18px,24px] text-dark lg:transition-colors lg:duration-300"></i>
    </a>
</div>

<div id="kvkk-popup" class="bg-white clamp-[rounded,16px,24px]! clamp-[p,20px,60px] w-full max-w-7xl! overflow-x-hidden overflow-y-auto" style="display: none">
    <div class="flex items-center justify-between gap-2 clamp-[mb,20px,50px]">
        <p class="text-h3 font-medium">KVKK Aydınlatma Metni</p>
        {{> partials/components/close-button.hbs }}
    </div>
    <article class="text-editor">
        <p>
            İşbu Kişisel Verilerin Korunması Kanunu (“KVKK”) Aydınlatma Metni; <strong>[Şirket Adı / Site Adı]</strong>
            (“Veri Sorumlusu”)
            tarafından işletilen <strong>[www.siteadresiniz.com]</strong> internet sitesi (“Site”) üzerinden sunulan
            hizmetler kapsamında,
            kişisel verilerinizin işlenmesine ilişkin olarak sizleri bilgilendirmek amacıyla hazırlanmıştır.
        </p>

        <h3>1) Veri Sorumlusu</h3>
        <p>
            KVKK kapsamında kişisel verileriniz, veri sorumlusu sıfatıyla <strong>[Şirket Adı / Site Adı]</strong>
            tarafından işlenebilecektir.
        </p>

        <h3>2) İşlenen Kişisel Veriler</h3>
        <p>
            Siteyi kullanımınız ve bizimle iletişiminiz kapsamında; işlem ve hizmetlere göre değişmek üzere aşağıdaki
            kişisel verileriniz işlenebilir:
        </p>
        <ul>
            <li><strong>Kimlik ve iletişim:</strong> ad-soyad, e-posta adresi, telefon numarası</li>
            <li><strong>Talep/şikâyet ve içerik:</strong> iletişim formu mesaj içeriği, destek talepleri, geri
                bildirimler
            </li>
            <li><strong>İşlem güvenliği ve log:</strong> IP adresi, cihaz/oturum bilgileri, erişim tarih-saat bilgileri,
                kullanıcı işlem kayıtları
            </li>
            <li><strong>Çerez (cookie) ve kullanım verileri:</strong> Site içi gezinme bilgileri, tercih ayarları, çerez
                kimlikleri
            </li>
        </ul>

        <h3>3) Kişisel Verilerin İşlenme Amaçları</h3>
        <p>
            Kişisel verileriniz, aşağıdaki amaçlarla KVKK’ya uygun olarak işlenebilir:
        </p>
        <ul>
            <li>Site üzerinden sunulan hizmetlerin yürütülmesi ve geliştirilmesi</li>
            <li>İletişim taleplerinin karşılanması, destek süreçlerinin yürütülmesi</li>
            <li>Bilgi güvenliği süreçlerinin yürütülmesi, suistimal ve yetkisiz erişimin önlenmesi</li>
            <li>Mevzuattan doğan yükümlülüklerin yerine getirilmesi ve yetkili kurum taleplerinin cevaplanması</li>
            <li>Hukuki süreçlerin takibi ve hakların korunması</li>
            <li>Açık rıza verilmesi halinde: pazarlama/iletişim faaliyetleri ve kişiselleştirilmiş içerik sunulması</li>
        </ul>

        <h3>4) Kişisel Verilerin İşlenmesinin Hukuki Sebebi</h3>
        <p>
            Kişisel verileriniz; KVKK’nın 5. maddesinde belirtilen hukuki sebeplere dayanarak işlenebilir. Örneğin;
        </p>
        <ul>
            <li><strong>Kanunlarda öngörülmesi</strong></li>
            <li><strong>Bir sözleşmenin kurulması veya ifasıyla doğrudan ilgili olması</strong></li>
            <li><strong>Veri sorumlusunun hukuki yükümlülüğünü yerine getirmesi</strong></li>
            <li><strong>Bir hakkın tesisi, kullanılması veya korunması</strong></li>
            <li><strong>Meşru menfaat</strong> (temel hak ve özgürlüklerinize zarar vermemek kaydıyla)</li>
            <li><strong>Açık rıza</strong> (gerekli hallerde)</li>
        </ul>

        <h3>5) Çerezler (Cookies) ve Benzeri Teknolojiler</h3>
        <p>
            Site üzerinde kullanıcı deneyimini iyileştirmek, Site’nin güvenliğini sağlamak ve performansı ölçmek
            amacıyla çerezler kullanılabilir.
            Çerezler; tarayıcınız aracılığıyla cihazınızda saklanan küçük metin dosyalarıdır.
        </p>
        <p>
            Site’de aşağıdaki çerez türleri kullanılabilir:
        </p>
        <ul>
            <li><strong>Zorunlu çerezler:</strong> Site’nin düzgün çalışması ve temel fonksiyonların sağlanması için
                gereklidir.
            </li>
            <li><strong>Performans/analitik çerezleri:</strong> Site kullanımını analiz ederek performansın
                artırılmasına yardımcı olur.
            </li>
            <li><strong>İşlevsellik çerezleri:</strong> Dil/tercih gibi ayarlarınızı hatırlayarak kişiselleştirilmiş
                kullanım sağlar.
            </li>
            <li><strong>Pazarlama çerezleri:</strong> Açık rıza vermeniz halinde ilgi alanlarınıza uygun içerik/duyuru
                gösterimini destekler.
            </li>
        </ul>
        <p>
            Çerez tercihlerinizi tarayıcı ayarlarınızdan yönetebilir, mevcut çerezleri silebilir veya çerez kullanımını
            engelleyebilirsiniz.
            Ancak çerezleri devre dışı bırakmanız durumunda Site’nin bazı özellikleri beklenen şekilde çalışmayabilir.
        </p>

        <h3>6) Kişisel Verilerin Aktarılması</h3>
        <p>
            Kişisel verileriniz; yukarıda belirtilen amaçlarla, KVKK’nın 8. ve 9. maddelerine uygun olarak ve gerekli
            güvenlik önlemleri alınarak
            aşağıdaki alıcı gruplarına aktarılabilir:
        </p>
        <ul>
            <li>Bilgi teknolojileri altyapı sağlayıcıları (barındırma/hosting, e-posta, yedekleme, güvenlik
                hizmetleri)
            </li>
            <li>Yetkili kamu kurum ve kuruluşları (mevzuattan doğan yükümlülükler kapsamında)</li>
            <li>Hukuki ve mali danışmanlar (hakların korunması ve süreçlerin yürütülmesi kapsamında)</li>
        </ul>

        <h3>7) Saklama Süresi</h3>
        <p>
            Kişisel verileriniz, işleme amaçlarının gerektirdiği süre boyunca ve ilgili mevzuatta öngörülen
            zamanaşımı/saklama süreleri boyunca
            saklanır; sürenin sonunda silinir, yok edilir veya anonim hale getirilir.
        </p>

        <h3>8) KVKK Kapsamındaki Haklarınız</h3>
        <p>
            KVKK’nın 11. maddesi uyarınca;
        </p>
        <ul>
            <li>Kişisel verilerinizin işlenip işlenmediğini öğrenme,</li>
            <li>İşlenmişse buna ilişkin bilgi talep etme,</li>
            <li>İşleme amacını ve amacına uygun kullanılıp kullanılmadığını öğrenme,</li>
            <li>Yurt içinde/yurt dışında aktarıldığı üçüncü kişileri bilme,</li>
            <li>Eksik/yanlış işlenmişse düzeltilmesini isteme,</li>
            <li>KVKK’da öngörülen şartlar çerçevesinde silinmesini/yok edilmesini isteme,</li>
            <li>Bu işlemlerin aktarılan üçüncü kişilere bildirilmesini isteme,</li>
            <li>İşlenen verilerin münhasıran otomatik sistemlerle analiz edilmesi suretiyle aleyhinize bir sonucun
                ortaya çıkmasına itiraz etme,
            </li>
            <li>Kanuna aykırı işleme sebebiyle zarara uğramanız hâlinde zararın giderilmesini talep etme</li>
        </ul>
        <p>
            haklarına sahipsiniz.
        </p>

        <h3>9) Başvuru ve İletişim</h3>
        <p>
            Haklarınıza ilişkin taleplerinizi, KVKK ve ilgili mevzuat kapsamında <strong>[Şirket Adı / Site
            Adı]</strong>’na iletebilirsiniz.
            Aşağıdaki alanları kendi iletişim bilgilerinizle doldurabilirsiniz:
        </p>
        <ul>
            <li><strong>Adres:</strong> [Açık Adres]</li>
            <li><strong>E-posta:</strong> [kvkk@siteadresiniz.com]</li>
            <li><strong>Telefon:</strong> [+90 (___) ___ __ __]</li>
            <li><strong>KEP (varsa):</strong> [____@____.kep.tr]</li>
        </ul>
        <p><em>Son güncelleme tarihi:</em> <strong>[gg.aa.yyyy]</strong></p>
    </article>
</div>
<div class="fixed-full z-50 pointer-events-none opacity-0 bg-black/15 transition-opacity duration-300 max-lg:bg-black/25"
     :class="{ 'opacity-100! pointer-events-auto!': ($store.data.activeIndex > -1 && ($store.data.dropdownMenuOpen || $store.data.megaMenuOpen)) || $store.data.menuOpen }"
    @click="$store.data.menuOpen = false"></div>
</body>
</html>